<%= form_tag(main_app.update_password_casino_user_path(@user), method: :put) do %>
  <div class="field font-bold"><%= @user.username %></div>
  <div class="field border-top border-bottom padding-top padding-bottom">Para atualizar a sua senha escolha uma senha nova e confirme.</div>
  <div class="field"><%= password_field_tag :password, "", placeholder: "Senha nova", title: "Por favor escolha uma senha nova", autofocus: true %></div>
  <div class="field"><%= password_field_tag :password_confirmation, "", placeholder: "Confirmação da senha nova", title: "Por favor confirme sua senha nova" %></div>
  <div class="actions">
    <%= button_tag "SALVAR" %>
    <span style="padding-left: 15px;"><%= link_to "Cancelar", root_path %></span>
  </div>
<% end %>